@font-face {
    font-family: norseBold;
    src: url(./fonts/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: norseBold;
}

body{
    font-size: 16px;
}

button,
input{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    appearance: none;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.left-side{
    background-image: url(./img/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 69vh;
}

.logo{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    position: relative;
    top: 20vh;
    gap: 10px;
}

.logo .odin-outline{
    height: 15vh;
}

.logo .odin{
    font-size: 5rem;
}

.right-side{
    width: 60vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: column wrap;
}

.sign-up-description{
    width: 90%;
    font-size: 1rem;
}

.sign-up-description .killer-line{
    margin: 40px 0 80px;
}

.left{
    padding-left: 3vw;
}

.sign-up-form-div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}
fieldset{
    display: flex;
    padding: 20px 0px 20px 0px;
    border: none;
    flex-flow: row wrap;
    box-shadow: -1px 10px 24px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 24px -7px rgba(0,0,0,0.75);
}

.form-title{
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.left-side-form,
.right-side-form{
    flex-grow: 1;

}

.left-side-form > div,
.right-side-form > div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-row input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    width: 60%;
}

.form-row input:focus{
    border-color: #E5E7EB;
    box-shadow: 10px 5px 5px black;

}

.form-row input:invalid,
.form-row .error:invalid{
    border: 2px solid red;
}

.form-row input:valid,
.form-row .error:valid{
    border: 2px solid green;
}



.submit-btn button{
    font-size: 2rem;
    padding: 14px 50px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    margin: 10px 0 10px;
    cursor: pointer;
}


.submit-btn button:hover{
    background-color: #8fac75;
}


.already-created-account{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
    display: flex;
    gap: 20px;
}

