@font-face {
    font-family: norseBold;
    src: url(./fonts/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: norseBold;
}

body{
    font-size: 16px;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.left-side{
    background-image: url(./img/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 69vh;
}

.logo{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    position: relative;
    top: 20vh;
    gap: 10px;
}

.logo .odin-outline{
    height: 15vh;
}

.logo .odin{
    font-size: 5rem;
}

.right-side{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side > div{
    border: 1px solid red;
    margin-bottom: 20px;
}

.sign-up-form-div{

}

.left{
    padding-left: 3vw;
}

.sign-up-form fieldset{
    display: flex;
    flex-flow: row wrap;
}

